block vars

html
  head
    title fountainhead#{title ? ' - ' + title : ''}
    link(rel='stylesheet' href='//unpkg.com/blaze@4.0.0-6/scss/dist/blaze.min.css')
    link(rel='stylesheet' href='/assets/style.css')
  
  body.c-text
    if !hideNav
      .c-nav.c-nav--inline
        .o-container.o-container--large
          a(href='/pulls').c-nav__item#nav-home
            img(src='/assets/fountainhead-logow.svg').logo
            span.u-xlarge.u-pillar-box-small fountainhead
    
    .o-container.o-container--large
      block content
    .o-container.o-container--large.c-text--mono#footer
      if meta && meta['x-ratelimit-limit']
        p.u-xsmall#rate_limit
          | api rate limit: 
          | #{meta['x-ratelimit-remaining']}/#{meta['x-ratelimit-limit']}
      else
        p.u-xsmall.c-text--mono no meta *frumple*
      p.u-xsmall.
        #[a(href="https://thenounproject.com/term/mountains/823046") Mountains]
        icon by Edward Boatman from the Noun Project