extends ../_layout.pug

block vars
  - const title = `account login`

block content
  h2.c-heading.u-xlarge
    :feather-icon(size='xlarge') user
    | account
  .o-container.o-container--xsmall.u-letter-box-super
    .c-card
      .c-card__body
        .c-paragraph
          | You must log in to view your account details.
      footer.c-card__footer
        .c-input-group
          a.c-button.c-button--block.c-button--success(href=login_url) 
            :feather-icon(size='large') github
            | Log In with GitHub